ErrorDocument 400 /error/400.php
ErrorDocument 429 /error/403.php
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/403.php
ErrorDocument 500 /error/500.php
ErrorDocument 503 /error/503.php

Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
Header set Referrer-Policy "same-origin"

Redirect 302 /privacy.php /Privacy.php
Redirect 302 /forum/images/roundo/darko/roundo-darko-logo.png https://newcdn.andriycraft.page/newwebsitefiles/img/server-icon.png


Options -Indexes